.container {
  width: 90%;
  margin: 6px;
  padding: 6px;
  text-align: left;
  color: black;
  background-color: #8cb6e1;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.right {
  margin: 6px;
  background-color: #e5abab;
}

.name {
  font-weight: bold;
  font-family: "Baloo Chettan", cursive;
}

@media (min-width: 500px) {
  .container {
    width: 70%;
    padding: 8px;
  }
  .right {
    margin: 6px;
    margin-left: auto;
  }
  .container:hover {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    transform: scale(1.08);
  }
}
